.task {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 252px;
  background: white;
  border-radius: 24px;
  padding: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease-in-out;
}

.task:hover {
  transform: scale(1.02);
  cursor: grab;
}

.task-category {
  display: inline-block;
  padding: 4px 25px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 150px;
}

.task-category.user-story {
  background: #0038FF;
  color: white;
}

.task-category.technical-task {
  background: #1FD7C1;
  color: white;
}

.task .task-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: var(--text-color);
}

.task .task-description {
  color: #A8A8A8;
  font-size: 16px;
  margin: 0 0 20px 0;
}

.task-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-subtasks {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.task-subtasks:hover .subtask-count {
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
}

.subtask-count.all-done:hover {
  color: var(--priority-color-low) !important;
}

.subtask-count.not-done:hover {
  color: var(--priority-color-urgent) !important;
}

.subtask-progress-container {
  width: 100%;
  height: 8px;
  background: #F4F4F4;
  border-radius: 4px;
  overflow: hidden;
}

.subtask-progress-bar {
  height: 100%;
  background: var(--accent-color);
  border-radius: 4px;
  transition: width 0.3s ease;
}

.subtask-count {
  color: #A8A8A8;
  font-size: 12px;
  white-space: nowrap;
}

.task-bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.task-assignees {
  display: flex;
  margin-left: 8px;
}

.task-assignee {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #A8A8A8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 2px solid white;
  margin-left: -8px;
}

.task-assignee:first-child {
  margin-left: 0;
}