body {
    display: flex;
}

aside {
    height: 100vh;
    width: 200px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 200px);
    background-color: var(--background-color);
}

header {
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    margin-left: 100px;
}

header img:hover {
    transform: scale(1.2);
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container div:nth-child(2) {
    display: flex;
    align-items: center;
}

#userLink {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2A3647;
    border-radius: 100%;
    padding: 10px;
    text-decoration: none;
    color: #29ABE2;
    font-weight: bold;
    margin: 16px;
}

#userLink:hover {
    background-color: #E2E6EC;
    cursor: pointer;
}

.userLinkOptions{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    right: 50px;
    top: 90px;
    background-color: var(--primary-color);
    padding:15px 5px;
    border-radius: 20px 0px 20px 20px;
    z-index: 1;
  }
  
 .userLinkOptionsLinks{
    text-decoration: none;
    color: var(--font-color);
    padding:10px 20px;
    margin:0;
    cursor: pointer;
  }
  
  .userLinkOptionsLinks:hover{
    color: var(--text-underline-color);
  }

#logo {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav a, #legal a{
    display: flex;
    align-items: center;
    margin: 5px 0;
    text-decoration: none;
    color: #CDCDCD;
    padding: 8px;
    padding-left: 45px;
}

nav a:hover {
    background-color: #2A3D59;
}

nav img {
    padding-right: 8px;
}

#legal {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#legal a {
    color: #A8A8A8;
}

#legal a:hover {
    color: #29ABE2;
    font-weight: bold;
}

.active {
    background-color: #091931 !important;
    color: white;
}

.active:hover {
    cursor: default;
}


.hide {
    display:none;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}