body {
    display: flex;
    /* flex-direction: column; */
}

aside {
    height: 100vh;
    width: 200px;
    background-color: var(--primary-color);
}

main {
    width: calc(100% - 200px);
    background-color: var(--secondary-color);
}

header {
    height: 90px;

}

#mainContent {
    margin: 50px;
    /* height: 100%; */
}