@media (max-width: 1000px) {
  .header-container {
    padding-left: 50px;
  }
}

@media (max-width: 800px) {
  #main {
    padding: 40px 40px 100px 40px !important;
  }

  .header-container {
    padding-left: 0px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 40px;
  }

    html {
   scrollbar-width: none;
  }

  .main-container {
    gap: 24px;
  }

  .main-container > h1 {
    position: sticky;
    top: 88px;
    background: var(--background-color);
    z-index: 4;
  }

  #addTask {
    flex-direction: column;
    gap: 10px;
  }

  .create-task-footer {
    background-color: var(--background-color) !important;
  }

  .form-actions {
    gap: 16px;
    margin-top: 24px;
  }

  .separator {
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
  }

  .half-width {
    width: 100%;
  }

  .required-label {
    position: static;
  }

  .create-task-footer {
    margin-top: 0;
    position: sticky;
    bottom: 88px;
  }

  .custom-date-input img {
    left: 95%;
  }
}

@media (max-width: 500px) {
  .create-task-footer {
    justify-content: flex-end;
  }

  .create-task-footer label {
    bottom: 32px;
    margin-bottom: 24px;
  }

  .custom-date-input img {
    left: 90%;
  }

  .form-actions {
    gap: 8px;
    margin-top: 24px;
  }
}

@media (max-width: 400px) {
  .close-btn-footer {
    padding: 7px;
  }

  .create-task-btn {
    padding: 7px 10px;
  }
}
