@media (max-width: 1480px) {
    #toDo, #inProgress, #awaitFeedback, #done {
        height: unset;
    }
}

@media (max-width: 1250px) {
    #boardContent {
        flex-direction: column;
        /* overflow: visible; */
    }

    .task-list {
        display: flex;
    }

    .column-header {
        display: none;
    }

    .task {
        margin-right: 16px;
        margin-top: 36px;
        user-select: none;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    }
}

@media (max-width: 800px) {
    .task-list {
        overflow-x: auto;
    }

    #mainContent {
        margin: 16px;
        margin-top: 90px;
    }

    main {
        overflow: scroll;
    }

    #boardHeader div {
        display: none;
    }

    .column-header {
        width: calc(100vw - 32px);
    }

    .column-header span {
        font-size: 27px;
    }
}