@media (max-width: 1250px) {
    #mainContent {
        transform: scale(0.8);
        transform-origin: left;
        margin: 16px;
        position: absolute;
    }
}

@media (max-width: 1000px) {
    #boardContent {
        justify-content: flex-start;
    }
}

@media (max-width: 800px) {
    main {
        overflow: scroll;
    }

    #mainContent {
        transform: scale(1);
        transform-origin: unset;
        position: unset;
        /* margin: 16px; */
        margin-top: 120px;
    }

    #boardContent {
        flex-direction: column;
    }

    .board-column {
        margin-bottom: 30px;
    }

    .board-column > .column-header {
        display: flex;
    }

    .task-list {
        display: flex;
        scrollbar-width: none;
        overflow-x: auto;
    }

    .task-list .column-header {
        display: none;
    }

    .column-header span {
        font-size: 27px;
    }

    .task {
        margin-right: 16px;
        user-select: none;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    }

    #boardHeader div > #searchInput {
        display: none;
    }

    .searchInput-resp {
        display: flex !important;
        /* justify-content: space-between; */
    }

    .searchInput-resp #taskSearch {
        width: 100%;
    }

    .searchInput-resp #taskSearch::placeholder {
        font-size: 20px;
    }

    #addTaskBtn {
        padding: 6px;
        height: unset;
        transition: none;
    }

    #addTaskBtn span {
        display: none;
    }

    .darkblueButton img {
        padding: 0;
    }
}