@media (max-width: 1480px) {
    #mainContent {
        transform: scale(0.8);
        transform-origin: top left;
    }
    
    #boardHeader h1 {
        transform: scale(1.3);
        transform-origin: left;
    }
}

@media (max-width: 1250px) {
    #boardContent {
        /* transform: scale(1); */
        flex-direction: column;
        /* align-items: center; */
    }

    .task-list {
        display: flex;
        /* flex-direction: row; */
        /* width: 30px; */
    }

    .column-header {
        position: absolute;
        /* padding-bottom: 30px; */
    }

    .task {
        margin-right: 16px;
        margin-top: 36px;
        user-select: none;
    }
}