@media (max-width: 650px) {
    .createAccountDiv {
        padding: 20px 5px;
    }

    #backToLogin {
        left: -150px;
    }

    #mainContent {
        margin: 25px;
    }

    .blueBtn {
        width: 168px;
        font-size: 16px;
    }

    #accountHeader {
        font-size: 47px;
    }
}

@media (max-width: 550px) {
    .loginInputDiv {
        gap: 5px;

    }

    .loginInput {
        height: 46px;
        width: 75%;
        font-size: 20px;
        padding: 0px 20px;
        margin: 0px 0px;
        font-size: 16px;
    }

    .accountHeader {
        font-size: 47px;
    }

    #backToLogin {
        left: -125px;
    }

    #acceptPrivacy {
        font-size: 14px;
    }

    #acceptPrivacyPolicy {
        height: 80%;
    }
}

@media(max-width: 400px) {
    .accountHeader {
        font-size: 30px;
    }

    #backToLogin {
        left: -75px;
    }

    .loginInput {
        padding-right: 60px;
    }


    .errorSpan {
        font-size: 8px;
    }
}

@media (max-height: 900px) {
    .logo {
        top: 30px;
        left: 30px;
        height: 80px;
    }
}