@media (max-width: 1000px) {

  main {
    margin-left: 150px;
  }
}

@media (max-width: 800px) {

  main {
    margin-left: 0;
    height: calc(100vh - 190px);
  }

  .help-main {
    padding: 10px 16px 0px 16px;
  }
}

@media (max-width: 380px) {
  .help {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  header {
    left: 0px;
    padding-left: 0;
    width: 100%;
  }
}