#addContactBackground {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    display: flex;
    background-color: rgba(100, 100, 100, 0.5);
}

#addContactRight {
    display: flex;
    border-radius: 0px 50px 50px 0px;
    background-color: white;
    width: calc(100% / 3 * 2);
    justify-content: center;
    align-items: center;
}

#addContactLeft {
    background-color: #2A3647;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: start;
    justify-content: center;
    border-radius: 50px 0px 0px 50px;
    width: calc(100% / 3);
    height: 100%;
}

#addContactDivMiddle {
    margin-left: 30px;
    margin-bottom: 40px;
    color: white;
}

#addContactDivMiddle img {
    height: 75px;
    margin: 0;
}

#addContactDivMiddle h1 {
    margin: 20px 0px;
    font-size: 48px;
    color: white
}

#addContactDivMiddle h4 {
    margin: 0;
    font-weight: normal;
    color: white
}

#addContactDivMiddle figure {
    background-color: #29ABE2;
    height: 2px;
    width: 100px;
    margin: 20px 0px;
    border-radius: 1rem;
}



#addContactRightDiv {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 100%;
    width: 100%;
}

#addContactRightImg2 {
    background-color: #D1D1D1;
    height: 100px;
    margin: 0px calc(min(50px, 5%));
    border-radius: 100%;
    padding: 10px;
    border: solid 4px white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.grayBackground {
    background-color: #D1D1D1;
}

#addContactRightInitialsDiv {
    /* height: 100px;
    width: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: solid 4px white;
    padding: 10px;
    border-radius: 100%;
    position: relative;
    left: 0px; */
    height: 100px;
    width: 100px;
    margin: 0px calc(min(50px, 5%));
    border-radius: 100%;
    padding: 10px;
    border: solid 4px white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#addContactRightInitials {
    font-size: 36px;
    color: white;
    /* text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

#addContactRightInputs {
    height: fit-content;
    width: calc(100%-128px);
    min-width: 200px;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

#addContactFrame {
    display: flex;
    max-width: 1200px;
    height: 500px;
    position: absolute;
    width: 90%;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.inputImg {
    position: relative;
    right: 45px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.marginTop10 {
    margin-top: 10px;
}

.marginLeft10 {
    margin-left: 10px;
}

.contactBtn {
    font-size: 21px;
    font-weight: normal;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    height: 48px;
    display: flex;
    align-items: center;
}

.whiteBtn {
    background-color: white;
    color: black;
    border: solid 1px var(--primary-color);
    margin-left: 15px;
}

.whiteBtn:hover {
    box-shadow: 00px 3px 10px rgba(0, 0, 0, 0.25);
    border-color: var(--text-underline-color);
    color: var(--text-underline-color);
    transition: all 0.1s ease-in-out;
}

.blueBtn {
    margin-right: 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.blueBtn:hover {
    background-color: var(--text-underline-color);
    box-shadow: 00px 3px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-in-out;
}

.addContactBtnDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    /*warum nicht drin*/
    flex-direction: row;
    /*warum nicht drin*/
}

#addContactRightInitialsDiv2 {
    background-color: #D1D1D1;
    height: 100px;
    width: 100px;
    margin: 0px calc(min(50px, 5%));
    border-radius: 100%;
    padding: 10px;
    border: solid 4px white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}