:root {
  --column-width: calc((100% - 72px) / 4);
}

#mainContent {
  display: flex;
  flex-direction: column;
  margin: 30px 40px 0 40px;
  /* gap: 24px; */
  position: fixed;
  top: 90px;
  max-height: calc(100vh - 20px);
  overflow: hidden;
  transition: max-height 0.3s ease;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}


#boardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#boardHeader>div {
  display: flex;
  align-items: center;
}

#boardHeader>div * {
  font-size: 20px;
  cursor: pointer;
}

#searchInput {
  background-color: white;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
}

#searchInput * {
  border: none;
  background-color: white;
}

#searchInput input {
  border-right: 1px solid #d1d1d1;
  width: 250px;
  outline: none;
}

#searchInput button {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

#searchInput button:hover {
  background-color: lightgrey;
}

#searchInput img {
  padding: 5px;
  background: none;
}

.darkblueButton {
  padding: 16px;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  height: 54px;
  margin-left: 30px;
  transition: 0.2s ease-in-out;
}

.darkblueButton:hover {
  background-color: #29abe2;
  cursor: pointer;
}

.darkblueButton span {
  color: white;
  font-weight: bold;
}

.darkblueButton img {
  padding: 0 16px;
}

.whiteButton {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  height: 54px;
  margin-left: 30px;
  transition: 0.2s ease-in-out;
}

.whiteButton:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  cursor: pointer;
}

.cross-bg-img {
  background-image: url(../images/canceldarkblue.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 20px;
  height: 20px;
  padding-left: 20px;
  transition: 0.2s ease-in-out;
}

#board-btn-section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  /* padding-top: 24px; */
}

#board-btn-section>div {
  flex: 0 0 var(--column-width);
  position: relative;
  font-size: 20px;
  padding-bottom: 14px;
}

#board-btn-section>div span {
  color: #42526e;
  font-weight: bold;
}

#boardContent {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 24px;
  overflow: overlay;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--font-color);

}

#boardContent::-webkit-scrollbar {
  width: 8px;
}

#boardContent::-webkit-scrollbar-track {
  background: #e7e7e7;
}

#boardContent::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 2px solid #e7e7e7;
}

.noTasks {
  text-align: center;
  background-color: #e7e7e7;
  color: #a8a8a8;
  padding: 14px 0;
  border-radius: 10px;
  border: 1px dashed #a8a8a8;
  width: 288px;
}

.add-task {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background: url("../images/taskPlus.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.add-task:hover {
  background-image: url("../images/taskPlusHover.svg");
}