main {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: calc(100% - 200px);
  background-color: var(--background-color);
}

#mainContent {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  margin: 0;
  position: absolute;
  left: 200px;
  top: 90px;
  width: 50%;
}

#addTask {
  display: flex;
  gap: 20px;
}

.half-width {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.addTask-left {
  margin-right: 20px;
}

#allContacts {
  overflow-y: visible;
  height: calc(100vh - 180px);
  padding: 0;
}

.forms label {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 20px !important;
}

#contentLeft {
  background-color: white;
  width: 340px;
  height: calc(100vh - 68px);
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.forms input,
.forms textarea {
  width: 100%;
  padding: 12px 21px;
  margin-top: 16px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
}

.forms input:focus,
.forms textarea:focus {
  outline: 2px solid var(--accent-color);
}

.custom-date-input {
  position: relative;
}

.custom-date-input input[type="date"] {
  padding-right: 20px;
}

.custom-date-input img {
  position: absolute;
  top: 64%;
  left: 100%;
  transform: translateY(-50%);
}

.custom-date-input input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.custom-date-input:hover {
  cursor: pointer;
}

.addTask-right {
  display: flex;
  flex-direction: column;
}

.addTask-right h3 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}

.h3-priority {
  margin-top: 0 !important;
}

.priority-buttons {
  display: flex;
  gap: 10px;
}

.priority {
  width: 136px;
  padding: 16px 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.priority img {
  padding-left: 5px;
}

.priority-urgent,
.priority-medium,
.priority-low {
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.priority-urgent:focus {
  background-color: var(--priority-color-urgent);
  color: white;
}

.priority-urgent:focus img,
.priority-medium:focus img,
.priority-low:focus img {
  filter: brightness(0) invert(1);
}

.priority-medium:focus {
  background-color: var(--priority-color-medium);
  color: white;
}

.priority-low:focus {
  background-color: var(--priority-color-low);
  color: white;
}

.priority-active {
  border: 2px solid var(--primary-color);
  color: white;
}

.priority:hover {
  box-shadow: var(--shadow-color) 0px 5px 10px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 14px;
  background-color: white;
  color: var(--text-color);
  cursor: pointer;
}

.custom-select-container,
.subtask-input {
  position: relative;
  display: flex;
  align-items: center;
}

.custom-select-container select,
.subtask-input input {
  appearance: none;
}

.custom-select-container .select-icon {
  position: absolute;
  right: 10px;
  pointer-events: none;
}

.subtask-input input {
  padding-right: 40px;
}

.subtask-input img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

select:focus {
  outline: 2px solid var(--accent-color);
}

.select-icon img:hover {
  background-color: var(--background-color);
}

.assigned-contacts {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.assigned-contacts .contact-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--highlight-color);
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.subtask-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.subtask-input button {
  padding: 10px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.subtask-input button:hover {
  background-color: var(--primary-color);
}

.create-task-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}

.create-task-footer img {
  padding-left: 10px;
}

.create-task-footer p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 10px;
}

.clear-button {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  padding: 6px 16px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.clear-button:hover {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

.clear-button:hover img {
  display: none;
}

.clear-button:hover::after {
  content: url("../images/cancelblue.svg");
  padding-left: 10px;
  display: inline-block;
}

.create-button {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.create-button:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.separator {
  width: 1px;
  background-color: var(--border-color);
  margin: 0 20px;
}


.assigned-user-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.assigned-user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #29ABE2;
  /* oder beliebige Farbe */
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
}

.assigned-user-name {
  flex-grow: 1;
}

.assign-checkbox {
  margin-left: 10px;
}

.fieldIsRequired {
  border-color: var(--border-color-required) !important;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 16px;
  display: block;
}

.capital {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 20px;
}

.userInitials {
  /* background-color: red; */
  color: white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 0;
}

.userInitialsBig {
  /* background-color: red; */
  color: white;
  border: solid 3px white;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  padding: 0;
  margin-right: 30px;
}

.singleUser {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 10px 10px;
  margin: 5px 0;
  color: black;
}

.singleUser:hover {
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: white;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.userName {
  margin: 5px 0px;
  text-align: left;
  /* background-color: blueviolet; */
}

.emailText {
  /* text-align: left; */
  padding: 0;
  color: var(--link-color);
}

.separator {
  background-color: var(--border-color);
  width: 100%;
  height: 1px;
  margin: 20px 0px;
}



.personAddBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  width: fit-content;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 50px;
  gap: 20px;
  border-radius: 10px;
  margin: 10px;
}



.spanLetter {
  text-align: left;
  margin-left: 22px;
}

.frame-40 {
  display: flex;
  align-items: center;
  width: 600px;
  height: 73px;
  gap: 30px;
  position: relative;
  top: 100px;
  left: 50px;
}

.frame-40 h1 {
  font-size: 61px;
  font-weight: 700;
  height: 73px;
  width: 264px;
  line-height: 120%;
  margin: 0;
  cursor: context-menu;
}

.frame-40-vektor {
  border: 3px solid #29ABE2;
  height: 59px;
}


.frame-40 p {
  margin: 0;
  height: 32px;
  line-height: 120%;
  font-weight: 400;
  font-size: 27px;
  color: #2A3647;
  cursor: context-menu;
}

.contactInformations {
  display: flex;
  flex-direction: column;
}

.contactInformations p {
  margin: 20px 0;
}

.contactInformations span,
a,
strong {
  margin: 00px 0;
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-left: 25px;
}

.inputImg {
  position: relative;
  right: 45px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.loginInput {
  border: solid 1px #D1D1D1;
  border-radius: 10px;
  height: 46px;
  border-width: 1px;
  width: 375px;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding: 0px 20px;
  margin: 10px 0px;
  outline: none;
}

.blueBtn {
  background-color: var(--primary-color);
  color: white;
  font-size: 21px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  height: 48px;
  width: fit-content;
  padding: 0px 20px;
  cursor: pointer;
}

.blueBtn:hover {
  background-color: var(--text-underline-color);
  box-shadow: 00px 3px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in-out;
}

.whiteBtn {
  background-color: white;
  color: black;
  font-size: 21px;
  font-weight: bold;
  border: solid 1px var(--primary-color);
  border-radius: 10px;
  height: 48px;
  width: fit-content;
  text-wrap: nowrap;
  padding: 0px 20px;
}

.whiteBtn:hover {
  box-shadow: 00px 3px 10px rgba(0, 0, 0, 0.25);
  border-color: var(--text-underline-color);
  color: var(--text-underline-color);
  transition: all 0.1s ease-in-out;
}

.loginButtonDiv {
  width: 100%;
  display: flex;
  justify-content: start;
}

.addContactDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.hide {
  display: none;
}

.flex{
  display:flex;
}