.legal-main {
  width: 1440px;
}

.legal-main h1 {
  margin: 0;
  position: absolute;
  top: 206px;
  left: 350px;
  width: 138px;
  height: 73px;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
}

.text-container {
  position: absolute;
  top: 311px;
  left: 350px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 950px;
  min-height: 309px;
  /* cursor: n-resize; */
}

aside {
  position: fixed;
  bottom: 0;
  z-index: 10;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 9;
  width: 1440px;
}

header span {
  margin-left: 0;
  left: 350px;
  position: absolute;
}

.d-none {
  display: none;
}

h2,
h3,
p {
  margin: 0;
  cursor: context-menu;
}

.number-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.number-text {
  display: flex;
  gap: 35px;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 27px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.the-end {
  margin: 16px 0 32px 0;
}

.highlight-join {
  color: var(--text-underline-color);
}

.help-container img {
  position: absolute;
  top: 225px;
  left: 1270px;
  cursor: pointer;
  border-radius: 50%;
}

.help-container img:hover {
  background-color: rgba(128, 128, 128, 0.092);
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: center;
}