.legal-main {
  width: 1440px;
}

.legal-main h1 {
  margin: 0;
  position: absolute;
  top: 206px;
  left: 350px;
  width: 419px;
  height: 73px;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
}

.text-container {
  position: absolute;
  top: 311px;
  left: 350px;
  max-width: 950px;
  min-height: 309px;
  cursor: n-resize;
}

aside {
  position: fixed;
  bottom: 0;
  z-index: 10;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 9;
  width: 1440px;
}

header span {
  margin-left: 0;
  left: 350px;
  position: absolute;
}

.d-none {
  display: none;
}