html {
  scroll-behavior: smooth;
}

.legal-main {
  position: absolute;
  gap: 40px;
  display: flex;
  flex-direction: column;
  left: 200px;
  top: 90px;
  margin: 40px 80px 0 80px;
  padding-bottom: 30px;
}

.legal-main h1 {
  margin: 0;
  font-size: 48px;
}

.pp-container {
  max-width: 950px;
  min-height: 309px;
  cursor: context-menu;
  word-break: break-word;
}

aside {
  position: fixed;
  bottom: 0;
  z-index: 3;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 2
}

header span {
  margin-left: 300px;
}

.d-none {
  display: none;
}

.pp-container-heading {
  margin-top: 0px;
}

.ln-container-heading {
  margin-top: 0px;
}

@media (max-width: 800px) {
  .legal-main {
    left: 0;
    top: 80px;
    margin: 30px 20px 0 20px;
    padding-bottom: 100px;
  }
}

@media (max-width: 380px) {
  .legal-main h1 {
    font-size: 40px;
  }
}

/* Für Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
  /* schmal */
  background: transparent;
  /* unsichtbarer Hintergrund */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  /* Farbe des beweglichen Teils */
  border-radius: 10px;
  /* abgerundete Kanten */
}

/* Optional: Beim Hover dunkler */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}