@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    margin: 0;
}

body * {
    font-family: "Inter";
}

:root {
   
    --primary-color: #2A3647;
    --background-color: #F6F7F8;
    
    --text-color: #004d40;
    --accent-color: #0288d1;
    --border-color: #00796b;
    --shadow-color: #004d40;
    --highlight-color: #b2ebf2;
}